# 排除 Obsidian 的工作区设置（包括插件和快捷键配置）
#.obsidian/*
# 排除 Obsidian 的工作区设置
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspaces.json
#.obsidian/core-plugins.json
#.obsidian/community-plugins.json
.obsidian/appearance.json
.obsidian/graph.json

# 排除未命名笔记
Untitled*
未命名*
# 排除“无效”的名称
null*
# 排除日期命名的笔记
[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]*


# 排除操作系统设置和缓存
.trash/
.DS_Store